*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
 z-index:2;
position: absolute;
}


a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
  margin: 2px;
}
.burger{
  margin: 5px;
  border-radius: 5%;
  background: #fafafa;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.nav{
 overflow: hidden;
  transition: 0.5s;
  
  
}
.navbar.active .nav{
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background-color: #cbac6b;
  gap: 2rem;
 
  
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.d-none{
  display: none;
}
.d-grid{
  display: grid;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-direction-row{
  flex-direction: row;
}
.flex-direction-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-start{
  justify-content: start;
}
.justify-content-end{
  justify-content: end;
}
.justify-content-space-between{
  justify-content: space-between;
}
.justify-content-space-around{
  justify-content: space-around;
}
.align-items-start{
  align-items: start;
}
.align-items-center{
  align-items: center;
}
.align-items-end{
  align-items: end;
}
.border{
  border: 1px black solid;
}
.border-bottom{
  border-bottom: 1px black solid;
}
.border-top{
  border-top: 1px black solid;
}
.border-left{
  border-left: 1px black solid;
}
.border-right{
  border-right: 1px black solid;
}
.bg-primary{
  background: #cbac6b;
}
.bg-warning{
  background: orange;
}
.bg-danger{
  background: red;
}
.bg-segondary{
  background: gray;
}
.bg-succes{
  background: green;
}
.bg-dark{
  background: black;
}
.bg-info{
  background: rgb(0, 157, 255);
}
.bg-light{
  background: #fafafa;
}
.text-center{
  text-align: center;
}
.text-initial{
  text-align: initial;
}
.text-primary{
  color: blue;
}
.text-warning{
  color: orange;
}
.text-danger{
  color: red;
}
.text-segondary{
  color: gray;
}
.text-succes{
  color: green;
}
.text-dark{
  color: black;
}
.text-info{
  color: rgb(0, 157, 255);
}
.text-light{
  color: #fafafa;
}
.mt-1{
  margin-top: 10px;
}
.mt-2{
  margin-top: 20px;
}
.mt-3{
  margin-top: 30px;
}
.mt-4{
  margin-top: 40px;
}
.mt-5{
  margin-top: 50px;
}
.ms-1{
  margin-left: 10px;
}
.ms-2{
  margin-left: 20px;
}
.ms-3{
  margin-left: 30px;
}
.ms-4{
  margin-left: 40px;
}
.ms-5{
  margin-left: 50px;
}
.me-1{
  margin-right: 10px;
}
.me-2{
  margin-right: 20px;
}
.me-3{
  margin-right: 30px;
}
.me-4{
  margin-right: 40px;
}
.me-5{
  margin-right: 50px;
}
.mb-1{
  margin-bottom: 10px;
}
.mb-2{
  margin-bottom: 20px;
}
.mb-3{
  margin-bottom: 30px;
}
.mb-4{
  margin-bottom: 40px;
}
.mb-5{
  margin-bottom: 50px;
}


.box{
  width: 100%;
  height: 500px;
}
.slider{
  z-index:3;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.5);
  overflow: hidden;
}
.slider img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.slider ul li{
  list-style: none;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.slider ul li.active{
  opacity: 1;
}
.slider .bt{
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: #fafafa;
  font-size: 1.7em;
  cursor: pointer;
  -webkit-text-stroke: 0.2px black;
}
.slider .bt#prev{
  left: 5px;
}
.slider .bt#next{
  right: 5px;
}
@media (max-width: 756px) {
  .nav{
    
    height: 0;
  }
  .sm-d-flex{
    display: flex;
  }
  .sm-d-block{
    display: block;
  }
  .sm-d-none{
    display: none;
  }
  .sm-d-grid{
    display: grid;
  }
  .sm-flex-wrap{
    flex-wrap: wrap;
  }
  .sm-flex-direction-row{
    flex-direction: row;
  }
  .sm-flex-direction-column{
    flex-direction: column;
  }
  .sm-justify-content-center{
    justify-content: center;
  }
  .sm-justify-content-start{
    justify-content: start;
  }
  .sm-justify-content-end{
    justify-content: end;
  }
  .sm-justify-content-space-between{
    justify-content: space-between;
  }
  .sm-justify-content-space-around{
    justify-content: space-around;
  }
  .sm-align-items-start{
    align-items: start;
  }
  .sm-align-items-center{
    align-items: center;
  }
  .sm-align-items-end{
    align-items: end;
  }
  .sm-border{
    border: 1px black solid;
  }
  .sm-border-bottom{
    border-bottom: 1px black solid;
  }
  .sm-border-top{
    border-top: 1px black solid;
  }
  .sm-border-left{
    border-left: 1px black solid;
  }
  .sm-border-right{
    border-right: 1px black solid;
  }
  .sm-bg-primary{
      background: blue;
    }
    .sm-bg-warning{
      background: orange;
    }
    .sm-bg-danger{
      background: red;
    }
    .sm-bg-segondary{
      background: gray;
    }
    .sm-bg-succes{
      background: green;
    }
    .sm-bg-dark{
      background: black;
    }
    .sm-bg-info{
      background: rgb(0, 157, 255);
    }
    .sm-bg-light{
      background: #fafafa;
    }
    .sm-text-center{
      text-align: center;
    }
    .sm-text-initial{
      text-align: initial;
    }
    .sm-text-primary{
      color: blue;
    }
    .sm-text-warning{
      color: orange;
    }
    .sm-text-danger{
      color: red;
    }
    .sm-text-segondary{
      color: gray;
    }
    .sm-text-succes{
      color: green;
    }
    .sm-text-dark{
      color: black;
    }
    .sm-text-info{
      color: rgb(0, 157, 255);
    }
    .sm-text-light{
      color: #fafafa;
    }
    .sm-mt-1{
      margin-top: 10px;
    }
    .sm-mt-2{
      margin-top: 20px;
    }
    .sm-mt-3{
      margin-top: 30px;
    }
    .sm-mt-4{
      margin-top: 40px;
    }
    .sm-mt-5{
      margin-top: 50px;
    }
    .sm-ms-1{
      margin-left: 10px;
    }
    .sm-ms-2{
      margin-left: 20px;
    }
    .sm-ms-3{
      margin-left: 30px;
    }
    .sm-ms-4{
      margin-left: 40px;
    }
    .sm-ms-5{
      margin-left: 50px;
    }
    .sm-me-1{
      margin-right: 10px;
    }
    .sm-me-2{
      margin-right: 20px;
    }
    .sm-me-3{
      margin-right: 30px;
    }
    .sm-me-4{
      margin-right: 40px;
    }
    .sm-me-5{
      margin-right: 50px;
    }
    .sm-mb-1{
      margin-bottom: 10px;
    }
    .sm-mb-2{
      margin-bottom: 20px;
    }
    .sm-mb-3{
      margin-bottom: 30px;
    }
    .sm-mb-4{
      margin-bottom: 40px;
    }
    .sm-mb-5{
      margin-bottom: 50px;
    }
  }